<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color:#E6E6FA;">

{% extends 'base.html' %}
{% block body %}
<form method="post" enctype="multipart/form-data" >
    {% csrf_token %}

         <input type="text" id="name" name="name", placeholder="enter movie name">
             <input type="text" id="desc" name="desc" placeholder="Enter the details">
             <input type="text" id="year" name="year" placeholder="Enter the year">
              <input type="File" id="imagee" name="imagee" placeholder="upload"><br> <br>
                     <input type="submit">
</form>


{% endblock %}
bg-</body>
</html>